body {
    background-color: rgb(196, 210, 223);
}

.form-inline {
    margin-left: 130%;
}

.Banner {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    
}

#mensualidad {
    display: flex;
    margin-left: 100%;
    
}

#busqueda {
    display: flex;
    margin:50px;
}

.btn btn-primary {

}

footer { 
    display: flex;
    justify-content: center;
    margin-top: 220px;
}